<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SelectAndEvaluate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SelectAndEvaluate.Properties.Settings>
            <setting name="ShortcutKeyString" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="Price" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCheckVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckWeek" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Initialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortcutKey" serializeAs="String">
                <value>69</value>
            </setting>
            <setting name="PasteResult" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeyControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeyAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyShift" serializeAs="String">
                <value>False</value>
            </setting>
        </SelectAndEvaluate.Properties.Settings>
    </userSettings>
</configuration>